@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.layout {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      background: linear-gradient(135deg, #9AD5CA, #ACDDE7, #ADB9E3, #A379C9, #B744B8);
      background-size: 400% 400%;
      animation: gradientMove 12s ease infinite;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background: #FAFAFA;
    border-radius: 16px;
    padding: 20px 30px 20px 30px;
    width: 450px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 180px;
    height: 90px;
    margin-bottom: 15px;
}

.form-title {
    margin: 0 0 25px;
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

.form-group {
    text-align: left;
}

.form-group label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    font-family: "Montserrat", sans-serif;
    width: 428px;
    height: 35px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d0bbbb;
    font-size: 20px;
    margin: 0 0 20px;
}

.form-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
    font-size: 18px;
}

.form-extra a {
    color: #000;
}

.form-extra input {
    height: 16px;
    width: 16px;
    accent-color: #B744B9;
}

.login-button {
    width: 450px;
    padding: 12px;
    background: linear-gradient(90deg, #9c58e0, #4e85e1, #9c58e0);
    border: 1px solid #d0bbbb;
    border-radius: 8px;
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    height: 57px;
    /*Эксперименты*/
    transition: background-position 0.5s ease;
    background-size: 150% 100%;
}

.btn:hover {
    background-position: right center;
}

.below-question {
    margin-top: 15px;
    font-size: 16px;
}

.below-question a {
    font-weight: 600;
    color: #000;
}

.below-question a:hover {
    color: #4a4a4a;
}