.album-page {
  box-sizing: content-box;
  display: flex;
  align-items: flex-start;
  background-color: rgba(250, 250, 250, 0.5);
  margin: 0 20px;
  clip-path: inset(0 round 30px);
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  z-index: 1;
  border-radius: 30px;
}

.turquoise-oval {
  position: absolute;
  right: 150px;
  bottom: 50px;
  width: 750px;
  height: 250px;
  border-radius: 50%;
  background: rgba(191, 232, 255, 0.8);
  filter: blur(80px);
  z-index: 0;
  overflow: hidden;
}

.album-blue-position {
  top: 30px;
  left: 220px;
  position: fixed;
}

.album-purple-position {
  top: -75px;
  right: -75px;
  position: fixed;
}

.album-card {
  position: sticky;
  top: 4dvh;
  background-color: #fafafa;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 25px;
  z-index: 1;
  margin: 4dvh 0 0 4dvh;
}

.album-artist {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.album-artist-avatar {
  object-fit: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.album-artist-name {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 12px;
}

.album-cover {
  margin: 13px 0;
  width: 270px;
  height: 270px;
  border-radius: 20px;
  object-fit: cover;
}

.album-card-title {
  font-weight: 600;
  font-size: 28px;
  word-break: break-word;
  text-align: center;
}

.album-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.album-like-size svg {
  width: 26px;
  height: 26px;
}

.album-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.album-buttons {
  display: flex;
  align-items: center;
  margin-top: 13px;
  position: relative;
}

.play-button-album {
  margin: 0 23px;
}

.black svg {
  stroke: #000;
}

.tracks-card {
  margin: 4dvh 50px 40px 40px;
  border-radius: 30px;
  flex-grow: 1;
  z-index: 0;
  background-color: #fafafa;
  padding: 10px;
  width: 0%;
}

.album-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.album-row {
  display: flex;
  padding: 10px 20px 10px 10px;
  align-items: center;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  height: 75px;
}

.album-row.active,
.album-row:hover {
  background-color: #e6e9f5;
}

.album-play-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.album-track-number {
  color: #636363ff;
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
}

.album-track-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-right: 15px;
}

.play-icon,
.pause-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-album-track {
  all: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.play-album-track.is-active:not(.paused) .pause-icon,
.play-album-track.is-active.paused .play-icon,
.play-album-track .pause-icon {
  display: none;
}

.play-album-track.is-active:not(.paused) .play-icon,
.play-album-track.is-active.paused .pause-icon {
  display: flex;
}

.album-row:hover .play-album-track,
.album-row.active .play-album-track {
  opacity: 1;
}

.play-album-track svg {
  fill: #fafafa;
  height: 25px;
  width: 25px;
}

.album-row:hover .album-track-number,
.album-row.active .album-track-number {
  opacity: 0;
}

.tracks-duration-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}

.overlay-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.album-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 24px;
}

.all-description {
  white-space: pre-line;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.close-button svg {
  stroke: #666;
  stroke-width: 2;
  transition: stroke 0.2s ease;
}

.close-button:hover svg {
  stroke: #000;
}

.header-divider {
  height: 1px;
  background-color: #ccc;
  margin: 8px 0;
}

.album-row:hover .like-btn-track,
.album-row.active .like-btn-track,
.album-row:hover .delete-btn-track,
.album-row.active .delete-btn-track,
.like-btn-track.active {
  opacity: 1;
}

.play-button-album.inactive,
.play-button-playlist.inactive {
  filter: grayscale(70%);
  pointer-events: none;
}

.no-tracks-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  color: rgba(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 500;
}

@media (hover: none) and (pointer: coarse) {
  .like-btn-track {
    opacity: 1;
  }
}

@media (max-width: 1250px) {
  .album-card {
    top: 20px;
    margin: 20px;
  }

  .tracks-card {
    margin: 20px 20px 40px 0;
  }

  .album-play-wrapper {
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .close-button svg {
    width: 32px;
    height: 32px;
  }

  .album-page {
    flex-direction: column;
    align-items: center;
  }

  .turquoise-oval {
    display: none;
  }

  .album-blue-position {
    left: 0;
  }

  .album-purple-position {
    top: 0;
  }

  .album-card {
    position: static;
    top: auto;
    width: 90%;
    padding: 25px 30px;
    margin: 20px 0 0;
    box-sizing: border-box;
  }

  .tracks-card {
    flex-grow: unset;
    padding: 10px 5px;
    margin: 20px 0 40px;
    width: 90%;
    box-sizing: border-box;
  }

  .album-buttons .like-btn {
    position: static;
    padding: 0;
  }

  .play-button-album {
    margin: 0 26px;
  }

  .album-buttons .control-btn svg {
    width: 32px;
    height: 32px;
  }

  .album-row {
    padding: 5px 15px 5px 5px;
    height: 60px;
  }

  .album-artist-name {
    font-size: 14px;
  }

  .album-artist-avatar {
    height: 18px;
    width: 18px;
  }
}

@media (max-width: 800px) {
  .album-page {
    margin: 0;
  }
}
