/* HEAD */
.head {
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #3d197c00;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
}

.logo {
  text-decoration: none;
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.wave-icon {
  margin-right: 10px;
  object-fit: fill;
}

.icon-name {
  font-family: 'Nunito', sans-serif;
  font-size: 42px;
  font-weight: 800;
  color: #393939;
}

.head-right {
  margin-right: 20px;
}

.nav-link.main {
  font-size: 36px;
  font-weight: 700;
}

.nav-link.login {
  color: #0a0a0a;
  text-decoration: none;
  font-size: 24px;
  border-radius: 14px;
  padding: 10px 15px;
  font-weight: 600;
}

.nav-link.register {
  color: #0a0a0a;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 14px;
  margin-left: 20px;
  font-weight: 600;
}

.nav-link.login:hover {
  background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
  font-weight: 600;
  color: #fff;
}

.nav-link.register:hover {
  background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
  font-weight: 600;
  color: #fff;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
}

.profile-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-avatar-header {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.default-avatar-header {
  font-size: 24px;
}

.dropdown-menu {
  position: absolute;
  right: -13px;
  top: 100%;
  background: linear-gradient(125deg, #a766ff, #da96ff);
  border-radius: 30px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 10;
  margin-top: 5px;
  justify-content: center;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
  padding: 10px 15px 10px 15px;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.dropdown-menu a:hover {
  color: #dfd7e7;
  text-decoration: underline;
}

.header-username {
  position: absolute;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  top: 50%;
  right: 100%;
  transform: translateY(-50%) translateX(20px);
  opacity: 0;
  pointer-events: none;
  color: #4A4459;
  padding: 6px 10px;
  max-width: 120px;
  transition: all 0.6s ease;
}

.profile-dropdown:hover .header-username,
.profile-dropdown:has(.dropdown-menu.show) .header-username {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
  pointer-events: auto;
}
