.library-header {
  display: flex;
  margin-top: 25px;
  padding: 0 27px;
  justify-content: space-between;
}

.left-content {
  align-items: flex-start;
  padding-top: 12px;
}

.sort-buttons {
  display: flex;
  margin-top: 18px;
  font-size: 18px;
  gap: 15px;
}

.right-content {
  display: flex;
  flex-direction: column;
}

.library-search-container {
  margin-top: 15px;
  position: relative;
  display: inline-block;
}

.search-icon svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.second-cross-icon {
  display: none;
  border-radius: 50%;
  align-items: center;
  padding: 10px 13px 10px 13px;
}

.second-cross-icon svg {
  transform: rotate(45deg);
}

#savePlaylistButton {
  width: 110px;
}

.form-group textarea {
  font-family: 'Montserrat', sans-serif;
  width: 450px;
  height: 16.5vh;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d0bbbb;
  font-size: 20px;
  box-sizing: border-box;
  resize: none;
}

.form-group textarea::-webkit-scrollbar {
  width: 10px;
}

.form-group textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.form-group textarea::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 4px;
  cursor: pointer;
}

.form-group textarea::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}

.create-playlist-toggle {
  all: unset;
  display: none;
}

.create-playlist-toggle svg {
  fill: #787878;
  width: 25px;
  height: 25px;
}

.library-events-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.create-playlist-button {
  width: calc(100% - 30px);
}

@media (max-width: 900px) {
  .library-header {
    margin-top: 18px;
    padding: 0 18px;
  }

  .sort-buttons {
    margin-top: 0;
    font-size: 16px;
    gap: 10px;
  }

  .right-content {
    display: none;
  }

  .left-content {
    padding-top: 0;
    width: 100%;
  }

  .library-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 10px 0 15px 0;
  }

  .library-header-container .search-toggle {
    margin-right: 0;
  }

  .album-row.playlist .track-like-container {
    position: static;
  }

  .library-search-container {
    margin-top: 0;
    position: absolute;
    display: flex;
    top: -10px;
    left: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    background: transparent;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-100%);
    transition:
      opacity 0.35s ease,
      transform 0.35s ease;
    z-index: 20;
  }

  .library-search-container.active {
    opacity: 1;
    transform: translateY(0);
  }

  .library-search-container.active .input-close-button {
    opacity: 1;
    transform: scale(1);
  }

  .library-search-container.active .search-input {
    opacity: 1;
    transform: translateX(0);
  }

  .library-search-container.active .search-input {
    opacity: 1;
    transform: translateY(0);
  }

  .library-search-container .input-close-button {
    right: 20px;
  }

  .create-playlist-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-group textarea {
    width: 100%;
  }
}
