body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.section {
  font-family: 'Montserrat', sans-serif;
  background-color: #e6e9f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

/* Макет под хедером */
.layout {
  display: flex;
  flex: 1;
  min-height: 0;
  margin-bottom: 90px;
}

/* Content */
.page {
  margin: 0 20px;
  box-sizing: content-box;
  scrollbar-gutter: stable;
  clip-path: inset(0 round 30px);
  flex: 1;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0 0 0 12px;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 23px;
}

.title-name {
  font-weight: 600;
  font-size: 32px;
  color: rgb(0, 0, 0);
}

.show-all a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #393939;
}

/* Slider */
.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slider.can-scroll:hover .slide-btn {
  opacity: 1;
  pointer-events: auto; /* снова кликабельные */
}

.slide-btn {
  opacity: 0;
  pointer-events: none; /* чтобы не мешали, пока невидимы */
  transition: opacity 0.5s ease;
  top: 45%;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  z-index: 10;
}

.slide-btn:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-50%) scale(1.05);
}

.slide-btn::before {
  content: '';
  width: 10px;
  height: 10px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
}

.slide-btn.left {
  left: 10px;
}

.slide-btn.left::before {
  transform: rotate(135deg);
  margin-left: 6px;
}

.slide-btn.right {
  right: 10px;
}

.slide-btn.right::before {
  transform: rotate(-45deg);
  margin-right: 6px;
}

/* Cards */
.cards {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  margin-left: -23px;
  padding-left: 43px;
  padding-bottom: 30px;
  padding-top: 15px;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 180px;
  min-height: 230px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #f3f5fa;
  transition-duration: 0.3s;
  border-radius: 30px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 10px;
  margin-right: 10px;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.play-button {
  cursor: pointer;
  position: absolute;
  width: 56px;
  height: 56px;
  color: white;
  background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
  background-size: 150% 150%;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease,
    background-position 0.5s ease,
    background 0.5s ease;
}

.play-button-placement {
  opacity: 0;
  top: 50%;
  left: 60%;
}

.play-button::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: 2px;
}

/* Новые стили для состояния паузы */
.play-button.paused::before {
  border-style: solid;
  border-width: 0;
  background-color: transparent; /* Убираем фон от треугольника */
  height: 20px; /* Высота полос */
  width: 16px; /* Общая ширина значка */
  opacity: 1;

  /* Создаем две полосы с помощью box-shadow */
  box-shadow: inset 5px 0 0 0 white, inset -5px 0 0 0 white;
  margin: 0;
}


.play-button-placement:hover {
  transform: scale(1.03);
  background-position: left top;
}

.card:hover .play-button {
  opacity: 1;
}

.play-button.is-active {
  opacity: 1;
}

.card img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 9px;
  line-height: 1.4;
  max-height: 45px;
  overflow: hidden;
  word-break: break-word;
}

.card-sub {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  margin-top: 3px;
}

.card-sub .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #393939;
  border-radius: 50%;
}

.cards.tracks {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  grid-template-rows: repeat(2, auto);
  max-height: 200px;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-left: -23px;
  padding-left: 43px;
  padding-bottom: 30px;
  padding-top: 15px;
}

.card-tracks {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f3f5fa;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.card-tracks:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.card-track-content {
  display: flex;
  padding: 10px;
  align-items: center;
  flex: 1;
  gap: 15px;
}

.card-tracks img {
  object-fit: cover;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
}

.card-tracks:hover img {
  filter: brightness(70%);
}

.card-tracks a {
  text-decoration: none;
}

.card-name-track {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-sub-track {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-button-track {
  left: 24px;
  opacity: 0;
}

.play-button-track:hover {
  transform: scale(1.03);
  background-position: left top;
}

/* Новые стили для состояния паузы */
.play-button-track.paused::before {
  border-style: solid;
  border-width: 0;
  background-color: transparent; /* Убираем фон от треугольника */
  height: 20px; /* Высота полос */
  width: 16px; /* Общая ширина значка */
  opacity: 1;

  /* Создаем две полосы с помощью box-shadow */
  box-shadow: inset 5px 0 0 0 white, inset -5px 0 0 0 white;
  margin: 0;
}

.play-button-track.is-active {
  opacity: 1;
}

.card-tracks:hover .play-button-track {
  opacity: 1;
}
