/* Главный контейнер */
.now-playing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 40px auto 10px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.now-playing-container.none_play {
  display: none;
}

.hidden {
  opacity: 0 !important; 
  pointer-events: none !important; 
  transform: scale(0.8) !important;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-fade-out {
  opacity: 0 !important;
  transform: scale(0.8) !important; 
}

.card-reset {
  transition: none !important; 
}

/* Обёртка для слайдера */
.card-slider {
  position: relative;
  width: 300px;
  height: 150px;
}

/* Общий стиль для ВСЕХ карточек */
.now-playing-container-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition:
    transform 0.5s ease,
    filter 0.5s ease,
    opacity 0.5s ease;
}

.now-playing-container-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* Классы позиций */
.card-position-current {
  z-index: 10;
  transform: translateX(0) scale(1.1);

  /* filter: brightness(70%); */
  opacity: 1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card-position-current img{
  filter: brightness(90%);
}

.card-position-prev {
  z-index: 5;
  transform: translateX(-65%) scale(0.9);
  filter: brightness(50%) blur(3px);
  opacity: 1;
}

.card-position-next {
  z-index: 5;
  transform: translateX(65%) scale(0.9);
  filter: brightness(50%) blur(3px);
  opacity: 1;
}

/* Стили для контента на карточке */
.current-card-btn.play, .current-card-btn.play.pause,
.current-card-name {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 11;
}

.card-position-current .current-card-btn.play, .current-card-btn.play.pause,
.card-position-current .current-card-name {
  opacity: 1;
}

/* кнопка Play/Pause поверх */
.current-card-btn.play {
  position: absolute;
  top: 30%;
  left: 40%;

  /* transform: translate(-50%, -50%); */
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease,
    background-position 0.5s ease,
    background 0.5s ease;
}

.current-card-btn.play::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: 2px;
}

.current-card-btn.play:hover,
.current-card-btn.play.paused:hover  {
  transform: scale(1.03);
  background-position: left top;
}

/* Новые стили для состояния паузы */
.current-card-btn.play.paused::before {
  border-style: solid;
  border-width: 0;
  background-color: transparent; 
  height: 20px; 
  width: 16px; 
  opacity: 1;

  /* Создаем две полосы с помощью box-shadow */
  box-shadow: inset 5px 0 0 0 white, inset -5px 0 0 0 white;
  margin: 0;
}

.current-card-name {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: center;
}

/* Стили стрелок */
.current-card-btn.prev,
.current-card-btn.next {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.current-card-btn.prev::before {
  content: '';
  width: 24px;
  height: 24px;
  border: #9c58e0 solid;
  border-width: 0 4px 4px 0;
  transform: rotate(135deg);
  display: inline-block;
}

.current-card-btn.next::before {
  content: '';
  width: 24px;
  height: 24px;
  border: #9c58e0 solid;
  border-width: 0 4px 4px 0;
  transform: rotate(-45deg);
  display: inline-block;
}
