/* Главный контейнер */
.now-playing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 40px auto 10px;
  padding: 0 20px;
  box-sizing: border-box;
}

.now-playing-container.none_play {
  display: none;
}

.card-fade-out {
  opacity: 0;
  transform: scale(0.8);
}

.card-reset {
  transition: none;
}

.card-slider {
  position: relative;
  width: 300px;
  height: 150px;
}

.now-playing-container-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition:
    transform 0.5s ease,
    filter 0.5s ease,
    opacity 0.5s ease;
}

.now-playing-container-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-position-current {
  z-index: 10;
  transform: translateX(0) scale(1.1);
  opacity: 1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card-position-current img {
  filter: brightness(90%);
}

.card-position-prev {
  z-index: 5;
  transform: translateX(-65%) scale(0.9);
  filter: brightness(50%) blur(3px);
  opacity: 1;
}

.card-position-next {
  z-index: 5;
  transform: translateX(65%) scale(0.9);
  filter: brightness(50%) blur(3px);
  opacity: 1;
}

.current-card-btn.play,
.current-card-btn.play.pause,
.current-card-name {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 11;
}

.card-position-current .current-card-btn.play,
.current-card-btn.play.pause,
.card-position-current .current-card-name {
  opacity: 1;
}

.current-card-btn.play {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    background-position 0.5s ease,
    background 0.5s ease;
}

.current-card-btn.play::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: 2px;
}

.current-card-btn.play:hover,
.current-card-btn.play.paused:hover {
  transform: scale(1.03);
  background-position: left top;
}

.current-card-btn.play.paused::before {
    content: '';
  border: none;
  background-color: transparent;
  width: 16px;
  height: 20px;
  background-image: linear-gradient(
    to right, 
    white 0%, white 30%, 
    transparent 30%, transparent 70%, 
    white 70%, white 100%
  );
  box-shadow: none;
  opacity: 1;
  margin: 0;
}

.current-card-name {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: center;
}

.current-card-btn.prev,
.current-card-btn.next {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.current-card-btn.prev.hidden,
.current-card-btn.next.hidden {
  opacity: 0;
  pointer-events: none;
}

.current-card-btn.prev::before {
  content: '';
  width: 24px;
  height: 24px;
  border: #9c58e0 solid;
  border-width: 0 4px 4px 0;
  transform: rotate(135deg);
  display: inline-block;
}

.current-card-btn.next::before {
  content: '';
  width: 24px;
  height: 24px;
  border: #9c58e0 solid;
  border-width: 0 4px 4px 0;
  transform: rotate(-45deg);
  display: inline-block;
}

.cards-marquee-limiter {
  max-width: 300px;
}

@media (max-width: 1000px) {
  .card-slider {
    width: 180px;
    height: 120px;
    margin: 0 auto;
    position: relative;
  }

  .current-card-btn {
    display: none;
  }

  .now-playing-container {
    justify-content: center;
  }

  .now-playing-container-card {
    width: 100%;
    height: 100%;
  }

  .card-position-prev {
    transform: translateX(-55%) scale(1);
  }

  .card-position-current {
    transform: translateX(0) scale(1.2);
    transition: transform 0.3s ease;
  }

  .card-position-current:active {
    transform: translateX(0) scale(1.1);
  }

  .card-position-next {
    transform: translateX(55%) scale(1);
  }

  .current-card-btn.play {
    width: 44px;
    height: 44px;
    font-size: 16px;
  }

  .current-card-name {
    font-size: 18px;
    bottom: 10px;
  }

  .cards-marquee-limiter {
    max-width: 200px;
  }
}
