/* Player */
.player {
  border-radius: 30px;
  margin: 5px 10px;
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.player.none_playing {
  display: none;
}

/* Левая часть */
.player-left {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 257px;
}

.like-btn {
  background-color: inherit;
  border: none;
  width: 30px;
  height: 30px;
}

.like-btn svg {
  background-color: inherit;
  align-items: center;
  width: 30px;
  height: 30px;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: transform 0.3s;
  fill: none;
}

.like-btn.active svg {
  fill: #a766ff;
  stroke: #a766ff;
}

.white svg {
  color: #fafafa;
  stroke: #fafafa;
}

.like-btn:hover svg {
  stroke: #a766ff;
  cursor: pointer;
  transform: scale(1.03);
}

.track-cover-player {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  object-fit: cover;
}

.track-info {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.track-title {
  all: unset;
  font-size: 16px;
  font-weight: 600;
  max-width: 30vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.track-artist {
  all: unset;
  font-size: 12px;
  color: #ccc;
  font-weight: 100;
  max-width: 30vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.track-artist:hover,
.track-title:hover {
  color: #fff;
  text-decoration: underline;
}

/* Центр */
.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.track-time.current {
  width: 34px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.control-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
  align-items: center;
}

.control-btn.prev {
  transform: rotate(180deg);
  margin-bottom: 6px;
}

.control-btn.prev svg,
.control-btn.next svg {
  width: 23px;
  height: 23px;
}

.control-btn.prev g,
.control-btn.next g {
  fill: #fff;
}

.control-btn.shuffle svg,
.control-btn.repeat svg,
.control-btn.repeatOne svg {
  width: 23px;
  height: 23px;
}

.control-btn.play.disactive,
.control-btn.pause.disactive {
  display: none;
}

.control-btn.play path,
.control-btn.pause rect {
  fill: #1a1a1a;
}

.control-btn.play.active,
.control-btn.pause.active {
  opacity: 1;
}

.control-btn.play path {
  transform: scale(1.8) translateX(1px);
  transform-origin: center;
}

.control-btn.play circle {
  r: 15px;
}

.control-btn.pause rect {
  transform: scale(1.5);
  transform-origin: center;
  width: 4px;
  x: 11px;
}

.control-btn.pause rect:last-child {
  x: 17px;
}

.control-btn.pause circle {
  r: 15px;
}

.control-btn svg {
  width: 30px;
  height: 30px;
}

.control-btn:hover svg {
  transform: scale(1.01);
  color: #a766ff;
  stroke: #a766ff;
}

.control-btn.prev:hover {
  transform: scale(1.01) rotate(180deg);
  color: #a766ff;
}

.control-btn.prev g:hover,
.control-btn.next g:hover {
  fill: #a766ff;
}

.control-btn.shuffle.active svg{
  color: #a766ff;
}

.control-btn.repeatOne {
  display: none;
}

.control-btn.repeat.active svg,
.control-btn.repeatOne.active svg{
  color: #a766ff;
}

.progress-remote {
  gap: 15px;
  display: flex;
  align-items: center;
}

.remote-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 600px;
  flex: 1;
  cursor: pointer;
  display: flex;

  --progress: 0%;
}

.remote-slider::-webkit-slider-container {
  border-radius: 30px;
}

.remote-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 30px;
  background: linear-gradient(90deg, #7fd8e6 0%, #f048ff var(--progress), #e0e0e0 var(--progress), #e0e0e0 100%);
}

.remote-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  opacity: 0;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f048ff;
  margin-top: -4px;
  transition: all 0.2s ease;
}

.remote-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.remote-container:hover .remote-slider::-webkit-slider-thumb {
  opacity: 1;
}

/* Правая часть */
.player-right {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 120px;
  cursor: pointer;

  --progress: 50%;
}

.volume-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  border-color: #a866eb;
}

.player-right:hover .volume-slider::-webkit-slider-thumb {
  opacity: 1;
}

.volume-icon {
  transition: color 0.3s ease;
  color: #fff;
  cursor: pointer;
}

.volume-mute-cross {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  transform: translate(8px, 0);
  fill: none;
  transform-origin: center;
}

/* Уровни громкости */
.volume-icon.level-0 .volume-wave-1,
.volume-icon.level-0 .volume-wave-2,
.volume-icon.level-0 .volume-wave-3 {
  opacity: 0 !important;
}

.volume-icon.level-0 .volume-mute-cross {
  opacity: 1;
  transform: scale(0.6) rotate(0deg) translate(10px, 0);
}

.volume-icon.level-1 .volume-wave-1 {
  opacity: 1;
}

.volume-icon.level-2 .volume-wave-1,
.volume-icon.level-2 .volume-wave-2 {
  opacity: 1;
}

.volume-icon.level-3 .volume-wave-1,
.volume-icon.level-3 .volume-wave-2,
.volume-icon.level-3 .volume-wave-3 {
  opacity: 1;
}

/* Эффект приглушения цвета при mute */
.volume-icon.level-0 {
  color: #9ca3af;
}
