.profile-container {
  height: 325px;
  background-color: rgba(4, 25, 109, 0.08);
  backdrop-filter: blur(34px);
  background-size: 400% 400%;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  gap: 6%;
  position: relative;
  overflow: hidden;
}

.profile-page {
  box-sizing: content-box;
  background-color: #ffffff;
  padding: 23px 0 0 23px;
  color: black;
  flex: 1;
  transition: overflow-y 0.3s ease;
}

.profile-wrapper {
  margin: 0 20px;
  clip-path: inset(0 round 30px);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.profile-avatar {
  height: 250px;
  width: auto;
  aspect-ratio: 1/1;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 15px 4px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-left: 6%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.default-avatar {
  width: 100%;
  height: 100%;
  color: #fafafa;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(135deg, #7fd8e6 14.9%, #e556fd 100%);
}

.default-avatar-profile {
  font-size: 100px;
}

.profile-username {
  font-weight: 800;
  font-size: 40px;
  white-space: normal;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.primary-button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 14px;
  padding: 10px 15px 10px 15px;
  background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
  background-size: 150% 150%;
  transition:
    background-position 0.5s ease,
    background 0.5s ease;
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  cursor: pointer;
}

.edit-button-size {
  height: 28px;
  width: 200px;
}

.primary-button:hover {
  background-position: left top;
}

.primary-button svg {
  fill: #fafafa;
}

/*Для показа кружочков на заднем фоне*/
.profile-avatar,
.profile-info {
  position: relative;
  z-index: 1;
}

.profile-blue-position {
  top: -10px;
  left: -10px;
}

.profile-purple-position {
  top: -55px;
  right: -55px;
}

.tracks-table-placement {
  margin: 20px 0 24px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 25, 109, 0.08);
  backdrop-filter: blur(34px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.window {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  transform: translateY(-500px);
  opacity: 0;
  transition:
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.8s ease;
}

.overlay.active .window {
  transform: translateY(0);
  opacity: 1;
}

@keyframes shake {
  0% {
    transform: translateY(0) translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.window.highlight {
  animation: shake 0.4s ease;
  border: 2px solid #a766ff;
  border-radius: 20px;
}

.secondary-button {
  all: unset;
  border-radius: 14px;
  background: #e6e8ef;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.secondary-button:hover {
  background: #c7cad3;
}

.edit-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.edit-avatar-placement {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.save-overlay-button-size {
  height: 30px;
}

.edit-profile-info {
  display: flex;
  margin-top: 20px;
}

.save-overlay-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.edit-avatar-buttons {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 140px;
  margin-top: 15px;
  gap: 15px;
}

.save-avatar-button-size {
  height: 12px;
}

.profile-edit-avatar {
  font-weight: 700;
  font-size: 64px;
}

.marquee {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-inner {
  display: inline-flex;
}

.marquee-text {
  white-space: nowrap;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(calc(-50% - 35px));
  }
  100% {
    transform: translateX(calc(-50% - 35px));
  }
}
@media (max-width: 1000px) {
  .profile-avatar {
    height: 200px;
  }
}

@media (max-width: 900px) {
  .profile-avatar {
    height: 150px;
  }

  .default-avatar-profile {
    font-size: 80px;
  }

  .profile-container {
    height: 250px;
  }
}

@media (max-width: 850px) {
  .profile-avatar {
    height: 120px;
  }

  .profile-container {
    height: 200px;
  }
}

@media (max-width: 800px) {
  .profile-wrapper {
    margin: 0;
  }

  .profile-container {
    height: 200px;
    gap: 4vw;
    align-items: center;
  }

  .profile-page {
    padding: 0;
  }

  .profile-avatar {
    height: 75%;
    width: auto;
    aspect-ratio: 1/1;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 0 0 2.5vw;
  }

  .profile-info {
    margin: 0;
    gap: 15px;
    max-width: 50%;
  }

  .profile-username {
    font-size: 28px;
    margin: 0;
  }

  .profile-marquee-limiter {
    max-width: 205px;
  }

  .edit-button-size {
    height: 20px;
    width: auto;
  }

  .primary-button {
    gap: 8px;
    border-radius: 14px;
    padding: 10px;
    background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
    background-size: 150% 150%;
    transition: background-position 0.5s ease,
      background 0.5s ease;
    font-size: 18px;
  }

  .primary-button svg {
    width: 16px;
    height: 16px;
  }

  .profile-purple-position {
    top: -120px;
    right: -60px;
  }

  .profile-blue-position {
    top: -40px;
  }

  .window {
    padding: 30px 10px;
    width: 93%;
  }

  .edit-profile-info {
    flex-direction: column;
    margin-top: 20px;
  }

  .edit-avatar-placement {
    width: 125px;
    height: 125px;
  }

  .edit-avatar {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 20px 0;
    gap: 15px;
  }

  .save-overlay-button {
    margin-top: 15px;
  }

  .save-overlay-button-size {
    height: 20px;
  }

  .profile-edit-avatar {
    font-size: 48px;
  }

  .edit-avatar-buttons {
    margin: 0;
    width: 110px;
  }

  .save-avatar-button-size {
    text-align: center;
    height: auto;
  }
}
