/* Sidebar */
.sidebar {
  left: 0;
  bottom: 0;
  width: 252px;
  background-color: rgba(4, 25, 109, 0.08);
  backdrop-filter: blur(34px);
  padding-left: 24px;
  border-radius: 30px;
  overflow: hidden;
}

.menu {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item {
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.menu-item.active {
  background-color: #9c58e0;
  color: #fff;
  padding: 10px;
  border-radius: 14px;
}

.menu-item a {
  text-decoration: none;
  margin-left: 15px;
  color: rgb(0, 0, 0);
}

.menu-item a.active {
  color: #fff;
}

.menu-item a.active:hover {
  color: #fff;
}

.menu-item a:hover {
  color: #3e197c;
}

.menu-item:hover {
  color: #3e197c;
}

.menu-item.active:hover {
  color: #fff;
}

/* кружочек на сайдбаре */
.purple-background-circle {
  position: absolute;
  width: 315px;
  height: 315px;
  border-radius: 50%;
  background: rgba(149, 0, 255, 0.4);
  filter: blur(80px);
  z-index: 0;
}

.sidebar-purple-position {
  top: 55%;
  right: 210px;
}
