/* Sidebar */
.sidebar {
  left: 0;
  bottom: 0;
  width: 252px;
  background-color: rgba(4, 25, 109, 0.08);
  backdrop-filter: blur(34px);
  padding-left: 15px;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 10px;
}

.menu {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  all: unset;
  justify-content: flex-start;
  align-items: flex-start;
  width: 190px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  gap: 12px;
  display: flex;
  transition: color 0.3s ease;
}

.menu-item.active {
  border-radius: 14px;
  background: linear-gradient(157deg, #7e4dff, #a766ff, #da96ff) right bottom;
  background-size: 150% 150%;
  transition:
    background-position 0.5s ease,
    background 0.5s ease;
}

.menu-item.active:hover {
  background-position: left top;
}

.menu-item svg {
  stroke: black;
  transition: fill 0.3s ease, stroke 0.3s ease;
  width: 24px;
  height: 24px;
}

.menu-item.active svg, .menu-item.active:hover svg {
  fill: transparent;
  stroke: #fafafa;
}

.menu-item:hover svg {
  stroke: #a766ff;
}

.menu-item.active:hover, .menu-item.active {
  color: #fafafa;
}

.menu-item:hover {
  color: #a766ff;
}

.library-items{
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 10px 0 10px 32px;
}

.library-item {
  font-size: 16px;
  font-weight: 200;
}

.purple-background-circle {
  position: absolute;
  width: 315px;
  height: 315px;
  border-radius: 50%;
  background: rgba(149, 0, 255, 0.4);
  filter: blur(80px);
  z-index: 0;
}

.sidebar-purple-position {
  top: 60%;
  left: -160px;
}

.blue-background-circle {
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: rgba(113, 255, 253, 0.8);
  filter: blur(80px);
  z-index: 0;
}

.sidebar-blue-position {
  top: 80%;
  left: 150px;
}

@media (max-width: 560px) {
  .sidebar {
    position: absolute;
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0;
    border-radius: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-sizing: border-box;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .menu-item, .menu .secondary-button {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: auto;
    font-size: 14px;
    padding: 0;
    font-weight: 600;
  }

  .menu-item.active .icon-path {
    stroke: url(#menuGradient);
    fill: url(#menuGradient);
  }

  .menu-item.active {
    color: black;
  }

  .menu-item.active {
    border-radius: 0;
    background: transparent;
    background-size: auto;
  }

  .header-divider {
    display: none;
  }

  .menu .secondary-button {
    border-radius: 0;
    background: transparent;
    padding: 0;
  }

  .menu-item svg, .menu .secondary-button svg {
    width: 32px;
    height: 32px;
  }

  .sidebar-purple-position {
    position: fixed;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: translate(20%, 15%);
  }

  .sidebar-blue-position {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
