
<div class="layout-auth">
  <div class="container">
    <img class="logo-auth" alt="Логотип" src="static/img/wave.png">
    <h2 class="form-title">Начни свой путь в мире<br>звуков и ритмов</h2>

    <form id="registerForm">
      <div class="form-group">
        <label for="email">Адрес почты</label>
        <input type="email" id="email" name="email" placeholder="example@domain.com">
        <div class="error-message" id="emailError"></div>
      </div>

      <div class="form-group">
        <label for="login">Имя пользователя</label>
        <input type="text" id="login" name="login" placeholder="Имя пользователя">
        <div class="error-message" id="loginError"></div>
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="Пароль">
        <div class="error-message" id="passwordError"></div>
        
        <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Повторите пароль" style="margin-top: 10px;">
        <div class="error-message" id="passwordConfirmError"></div>
      </div>

      <div class="error-message general-error" id="generalError"></div>

      <button type="submit" class="login-button">Зарегистрироваться</button>
    </form>

    <div class="below-question">
      <p>Уже есть аккаунт?</p>
      <a href="/login">Войти</a>
    </div>
  </div>
</div>